Repository Dockbox-OSS/Hartshorn, pull requests merged in 2021-12, with the labels that each got.

#575 #574 Add type-erasure based 'unchecked' exception rethrowing
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/Hartshorn.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplication.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/logback/LogbackErrorConverter.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/FieldContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/domain/Exceptional.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ApplicationException.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/Except.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ExceptionHelper.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ExceptionLevel.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContextInjectionProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServiceModifier.java
  hartshorn-core/src/main/resources/logback.xml
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ExceptionalTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/proxy/ProxyTests.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateJpaRepository.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/service/AbstractPersistenceServiceModifier.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServerInitializer.java
Labels: type: enhancement, PR: ready, in: core

#578 #576 Remove `Except` in favor of application-specific `ExceptionHandler`
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CacheEvictionMethodModifier.java
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CacheUpdateMethodModifier.java
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CachedMethodModifier.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/SystemSubject.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/cli/SimpleCommandCLI.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/CommandDefinitionContextImpl.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/MethodCommandExecutorContext.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationServiceModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationManager.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ExceptionHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplication.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationConfigurator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationManager.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornExceptionHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/FieldContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/domain/Exceptional.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ApplicationException.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/Except.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ExceptionHandle.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ExceptionHelper.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ExceptionLevel.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContextInjectionProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServiceModifier.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/exceptions/ExceptTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/exceptions/TestExceptionHandle.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateJpaRepository.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/JacksonObjectMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/service/AbstractPersistenceServiceModifier.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventWrapperImpl.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServerInitializer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/ServletHandler.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyErrorHandler.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyHttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyResourceService.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyServer.java
Labels: type: enhancement, PR: ready, PR status: breaking, type: feature request, in: core

#579 #577 Remove `Bindings` utility class in favor of direct implementations
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CacheServiceModifier.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/MethodCommandExecutorContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/InjectorMetaProvider.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/Key.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/binding/Bindings.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/binding/NamedImpl.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContainer.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContainerImpl.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ContextMethodModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServiceModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServiceProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ProviderServiceProcessor.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/BindingHierarchyTests.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/context/QueryContext.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateJpaRepository.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventWrapperImpl.java
Labels: status: in progress, type: enhancement, PR: do not merge, PR status: breaking, type: feature request, in: core

#581 #580 Annotation support for test suite
  hartshorn-cache/src/test/java/org/dockbox/hartshorn/cache/CacheTests.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/CommandDefinitionContextTests.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/HashtagParameterPatternTests.java
  hartshorn-config/src/test/java/org/dockbox/hartshorn/config/ConfigurationManagerTests.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/BindingHierarchyTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ContextAwareTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ReflectTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/boot/ComponentProvisionTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/boot/MetaProviderTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/exceptions/ExceptTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/proxy/ProxyTests.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/ApplicationAwareTest.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornExtension.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornRunner.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornTest.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/InjectTest.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/JUnitFSProvider.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/DataStructuresSerializersTests.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/QueryRepositoryTests.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/SqlServiceTest.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/TableTests.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/mapping/ObjectMappingTests.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/mapping/PersistenceModifiersTests.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/service/SerialisationTests.java
  hartshorn-events/src/test/java/org/dockbox/hartshorn/events/EventBusTests.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/MessageTemplateServiceTests.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/TranslationBatchGenerator.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/TranslationInjectModifierTests.java
  hartshorn-tasks/src/test/java/org/dockbox/hartshorn/core/task/TaskRunnerTests.java
  hartshorn-web/src/test/java/org/dockbox/hartshorn/web/RequestArgumentProcessorTests.java
  hartshorn-web/src/test/java/org/dockbox/hartshorn/web/RestIntegrationTest.java
Labels: type: enhancement, PR: ready, type: feature request, in: test

#589 #586 Replace processor storage with concurrent `CustomMultiMap` in `HartshornApplicationContext`
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
Labels: type: bug, PR: ready, in: core

#590 #588 Remove duplicated `prefixes` argument
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
Labels: type: bug, PR: ready, in: core

#593 #592 Allow reflecting on `TypeContext`s and add `isTypeContext` rule
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ElementContextTests.java
Labels: type: bug, PR: ready, in: core

#595 #594 Resolve invocation of default methods in service proxies
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/JavaInterfaceProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyHandler.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/PassThroughFactory.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/Person.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/PersonImpl.java
Labels: type: bug, PR: ready, in: core

#598 #597 Add validated static invokers to `MethodContext`s
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ElementContextTests.java
Labels: status: in progress, PR: do not merge, type: feature request, in: core

#600 #596 Allow modification of `ApplicationFactory` during test initialization
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/boot/ComponentProvisionTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/testsuite/HartshornFactoryTests.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornExtension.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornFactory.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/TranslationBatchGenerator.java
Labels: PR: ready, type: feature request, in: test

#602 #601 Allow modifying method invoker and access level
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodInvoker.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ReflectionMethodInvoker.java
Labels: PR: ready, type: feature request, in: core

#603 #599 Validate that components are registered when requested
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentLocator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentLocatorImpl.java
  hartshorn-core/src/test/java/com/nonregistered/DemoComponent.java
  hartshorn-core/src/test/java/com/nonregistered/NonRegisteredComponentTests.java
  hartshorn-core/src/test/java/com/nonregistered/ThrowingComponentLocatorImpl.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ReflectTests.java
Labels: type: enhancement, PR: ready, type: feature request, in: core

#606 #605 Add support for inline default values and collection specifications to `@Value` based configuration postprocessor
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationComponentPostProcessor.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/annotations/Value.java
  hartshorn-config/src/test/java/org/dockbox/hartshorn/config/ConfigurationManagerTests.java
  hartshorn-config/src/test/java/org/dockbox/hartshorn/config/DemoClasspathConfiguration.java
  hartshorn-config/src/test/resources/junit.yml
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationPropertyHolder.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServerInitializer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/ServletHandler.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyErrorHandler.java
Labels: type: bug, type: enhancement, PR: ready, in: core

#608 #607 Resolve direct use of Jackson data formats
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/JacksonDataMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/JacksonObjectMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/JavaPropsDataMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/JsonDataMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/TomlDataMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/XmlDataMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/YamlDataMapper.java
Labels: type: bug, PR: ready, in: data

#610 #609 Resolve duplicate binding of overly specific packages when broader package is bound
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationConfigurator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentLocatorImpl.java
  hartshorn-core/src/test/java/com/specific/sub/Demo.java
  hartshorn-core/src/test/java/com/specific/sub/DemoService.java
  hartshorn-core/src/test/java/com/specific/sub/DemoServicePreProcessor.java
  hartshorn-core/src/test/java/com/specific/sub/SpecificPackageTests.java
Labels: type: bug, PR: ready, in: core

#612 #611 Filter synthetic bridge methods when looking up methods in `TypeContext`s
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ReflectTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/bridge/Bob.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/bridge/BridgeImpl.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/bridge/BridgeParent.java
Labels: type: bug, PR: ready, in: core

#614 #613 Unify `Modifier`, `LogLevelModifier`, `MetaProviderModifier`, and `DefaultModifiers`
  examples/src/commands/java/org/dockbox/hartshorn/demo/commands/services/CommandCLIStarterService.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/ArgumentConverterContext.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/CommandDefinitionContextImpl.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ClassPathResourceLookupStrategy.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationComponentPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/DefaultModifiers.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/Modifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/Modifiers.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ClasspathResourceLocator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/Hartshorn.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplication.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationLogger.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationManager.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornClasspathResourceLocator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornExceptionHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/LogLevelModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/boot/HartshornTests.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/table/Table.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventValidator.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/TranslationProviderService.java
Labels: type: enhancement, PR: ready, in: core

#616 #615 Resolve `StackOverflowError` on circular dependencies and add support for private invokers
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationProxier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/JavassistApplicationProxier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ConstructorContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/domain/tuple/Tristate.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/CyclicComponentException.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/NativeProxyLookup.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistInterfaceHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyUtil.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ServiceMethodPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ServiceOrder.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/proxy/ProxyTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/CircularConstructorA.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/CircularConstructorB.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/CircularDependencyA.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/CircularDependencyB.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateProxyLookupInitializer.java
Labels: type: bug, PR: ready, PR status: breaking, in: core

#620 #619 Add support for setter/method injection
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/inject/Context.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/inject/Enable.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/inject/Populate.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/inject/Required.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ComponentProvider.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/Context.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/DefaultContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/DelegatingContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ParameterLoaderContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/AnnotatedElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ExecutableElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistInterfaceHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/ContextParameterLoaderRule.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/ExecutableElementContextParameterLoader.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/GlobalProxyParameterLoader.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/RuleBasedParameterLoader.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/SetterInjectedComponent.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/SetterInjectedComponentWithAbsentBinding.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/SetterInjectedComponentWithNonRequiredAbsentBinding.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornTest.java
Labels: type: enhancement, PR: ready, type: feature request, in: core

#554 #553 QoL issues
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ParameterContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/domain/Exceptional.java
Labels: status: in progress, PR: do not merge, in: core

#626 #621 Do not overwrite redefined annotations in `TypeContext` annotation validation
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ReflectTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/AnnotatedImpl.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/AnnotatedParent.java
Labels: type: bug, PR: ready, in: core

#629 #627 Resolve factory bindings not respecting correct binding priorities
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServicePreProcessor.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/factory/FactoryProvided.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/factory/FactoryService.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/factory/FactoryTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/factory/HighPriorityFactoryBound.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/factory/LowPriorityFactoryBound.java
Labels: type: bug, status: in progress, PR: do not merge, in: core

#630 #628 Expose declaring parent through executable element context
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ParameterLoaderContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ConstructorContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ExecutableElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ParameterContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContextInjectionPreProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/GlobalProxyParameterLoader.java
  hartshorn-web/src/test/java/org/dockbox/hartshorn/web/RequestArgumentProcessorTests.java
Labels: PR: ready, type: feature request, in: core

#631 #625 Allow obtaining annotated annotations on a given element
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/AnnotatedElementContext.java
Labels: PR: ready, type: feature request, in: core

#632 #622 Disable automatic `KeyGen` activation
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/activate/AutomaticActivation.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/TranslationBatchGenerator.java
Labels: type: bug, PR: ready, type: feature request, in: core

#633 #624 Provide binding `Key` instead of `TypeContext` to component processors
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/CommandGateway.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/CommandGatewayImpl.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/MethodCommandExecutorContext.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/ArgumentServicePreProcessor.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/CommandParameters.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/CommandServiceScanner.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/CommandDefinitionContextTests.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationComponentPostProcessor.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationServicePreProcessor.java
  hartshorn-config/src/test/java/org/dockbox/hartshorn/config/ConfigurationManagerTests.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/Key.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/binding/ContextWrappedHierarchy.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/binding/NativeBindingHierarchy.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/DefaultContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContainer.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContextInjectionPreProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentLocatorImpl.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentPreProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentPreValidator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentProxyPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ContextMethodPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServicePreProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FunctionalComponentPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/LifecycleObserverPreProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ProviderServicePreProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ProxyDelegationPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ServiceAnnotatedMethodPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ServiceMethodPostProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ServicePreProcessor.java
  hartshorn-core/src/test/java/com/example/application/DemoProcessor.java
  hartshorn-core/src/test/java/com/specific/sub/DemoServicePreProcessor.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventBus.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventBusImpl.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventServicePreProcessor.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventHandler.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventWrapperImpl.java
  hartshorn-events/src/test/java/org/dockbox/hartshorn/events/EventBusTests.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/services/LanguageProviderServicePreProcessor.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/RestControllerPreProcessor.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/mvc/MvcControllerPreProcessor.java
Labels: PR: ready, PR status: breaking, type: feature request, in: core

#634 RC Dependency check
  .github/workflows/hartshorn.yml
  build.gradle
  examples/examples.gradle
  gradle.properties
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationConfigurator.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/SqlServiceTest.java
Labels: type: enhancement, PR: ready

#637 #635 Resolve `#equals` failing on native proxy objects
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/Unproxy.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/JavassistApplicationProxier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistInterfaceHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/ObjectEqualsParameterLoaderRule.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/UnproxyParameterLoaderRule.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/UnproxyingParameterLoader.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentProxyPostProcessor.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/proxy/ProxyTests.java
Labels: type: bug, type: enhancement, PR: ready, in: core

#638 #636 Recursively look for parameterized types in `TypeContext#contextsFromParameterizedType`
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ReflectTests.java
Labels: type: bug, PR: ready, in: core
