Repository Dockbox-OSS/Hartshorn, pull requests merged in 2021-11, with the labels that each got.

#461 #451 Native QL and JPQL query integration
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/DefaultJpaRepository.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/JpaRepository.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/QueryFunction.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/annotations/EntityModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/annotations/Query.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/annotations/Transactional.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/context/QueryContext.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateJpaRepository.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateQueryFunction.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/QueryModifier.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/QueryRepositoryTests.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/UserQueryRepository.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/objects/JpaUser.java
Labels: status: in progress, PR: do not merge, type: feature request, in: persistence

#462 #450 Restructure `Language` definitions into separate contract
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/SystemSubject.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/arguments/DefaultArgumentConverters.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/ResourceService.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/ResourceServiceImpl.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/common/DefinedLanguage.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/common/Language.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/common/Languages.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/common/PersistentLanguageModel.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/message/DetachedMessage.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/message/MessageTemplate.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/MessageTemplateServiceTests.java
Labels: type: enhancement, PR: ready, PR status: breaking, in: i18n

#464 #463 Introduce delegate accessors with associated service modifiers, and allow low-level use of `ProxyHandler`
  examples/src/persistence/java/org/dockbox/hartshorn/demo/persistence/services/UserRepository.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/ApplicationContextAware.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/DelegatorAccessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/DelegatorAccessorImpl.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/JavaInterfaceProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/JavassistProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/JavassistProxyUtil.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyApplicationBootstrap.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyInjectionService.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyInterfaceHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyableBootstrap.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/DelegatorAccessorDelegationModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ProxyDelegationModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ProxyInjectionModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ServiceMethodModifier.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/boot/SampleBootstrap.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/proxy/ProxyTests.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/JpaRepositoryDelegationModifier.java
Labels: type: enhancement, PR: ready, in: core

#469 #466 Include `@Named` when constructing hierarchy `Key`s inside `HartshornApplicationContext`
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
Labels: type: bug, PR: ready, in: core

#475 #472 Deprecate `Attribute` and `AttributeHolder` for removal
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/inject/Enable.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/binding/Bindings.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/properties/Attribute.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/properties/AttributeHolder.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/properties/AttributeImpl.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/properties/Enableable.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/properties/UseFactory.java
Labels: type: enhancement, PR: ready, in: core

#474 #467 Common parameter loader for shared and extensible parameter processing logic
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/arguments/CommandContextParameterRule.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/arguments/CommandParameterLoader.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/arguments/CommandParameterLoaderContext.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/arguments/CommandSubjectParameterRule.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/MethodCommandExecutorContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ParameterLoaderContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyInjectionService.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyableBootstrap.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/AnnotatedParameterLoaderRule.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/GlobalProxyParameterLoader.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/ParameterLoader.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/ParameterLoaderRule.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/parameter/RuleBasedParameterLoader.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ParameterLoaderRules.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/parameterloaders/RuleBasedParameterLoaderImpl.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/parameterloaders/StringParameterRule.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventBusImpl.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventParameterLoader.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventParameterLoaderContext.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventParameterRule.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/handle/EventWrapperImpl.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/DefaultHttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/ServletHandler.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/HttpRequestParameterLoaderContext.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/HttpServletParameterLoader.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/BodyRequestParameterRule.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/HeaderRequestParameterRule.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/ServletRequestParameterRule.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/ServletResponseParameterRule.java
  hartshorn-web/src/test/java/org/dockbox/hartshorn/web/RequestArgumentProcessorTests.java
Labels: PR: ready, type: feature request, in: commands, in: core, in: events, in: web

#470 #468 Resolve incorrect `application/json` content-type, will now resolve based on mapping format or write as `text/plain`
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/ServletHandler.java
Labels: type: bug, PR: ready, in: web

#485 #484 Add isArray and elementType methods to TypeContext
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
Labels: type: enhancement, PR: ready, in: core

#487 #486 Suppress continuous quality JAVA-W0243 on ternary operators
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/HartshornUtils.java
Labels: type: enhancement, PR: ready, in: core

#483 #480 Resolve invalid log level WARN at `CommandDefinitionContextImpl`
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/CommandDefinitionContextImpl.java
Labels: type: bug, PR: ready, in: commands

#482 #481 Remove duplicate command method presence validation
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/CommandServiceScanner.java
Labels: type: bug, PR: ready, in: commands

#491 #490 Automatic activation of component- processors and modifiers
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CacheEvictionMethodModifier.java
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CacheServiceModifier.java
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CacheUpdateMethodModifier.java
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CachedMethodModifier.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/ArgumentServiceProcessor.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/CommandParameters.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/CommandServiceScanner.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationServiceModifier.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationServiceProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/service/AutomaticActivation.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentContextInjectionProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ContextCarrierDelegationModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ContextMethodModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/DelegatorAccessorDelegationModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServiceModifier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/FactoryServiceProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/LifecycleObserverProcessor.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ProviderServiceProcessor.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/proxy/DemoProxyDelegationModifier.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventServiceProcessor.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/services/LanguageProviderServiceProcessor.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/services/TranslationInjectModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/DeserialisationServiceModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/JpaRepositoryDelegationModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/QueryModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/SerialisationServiceModifier.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/RestControllerProcessor.java
Labels: type: enhancement, PR: ready, in: core

#492 #489 Binding priority overrides for `@Binds` and `@Provider`
  hartshorn-cache/src/test/java/org/dockbox/hartshorn/cache/CacheTests.java
  hartshorn-cache/src/test/java/org/dockbox/hartshorn/cache/JUnitCacheManager.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/CommandDefinitionContextTests.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/HartshornCommandTest.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/HashtagParameterPatternTests.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/JUnitSystemSubject.java
  hartshorn-config/src/test/java/org/dockbox/hartshorn/config/ConfigurationManagerTests.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/inject/Binds.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/annotations/inject/Provider.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/inject/ProviderContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ProviderServiceProcessor.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/boot/activators/ValidActivator.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornRunner.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/JUnitInjector.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/DataStructuresSerializersTests.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/FileManagerTest.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/JUnitFileManager.java
Labels: PR: ready, type: feature request, in: core

#499 #496 Add `@RequestParam` rule support to read query parameters from `HttpServletRequest` when populating servlet handle arguments
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/RequestParam.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/HttpServletParameterLoader.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/BodyRequestParameterRule.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/RequestQueryParameterRule.java
Labels: PR: ready, type: feature request, in: web

#498 #497 Include default values when looking up annotation attribute hierarchy
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/AnnotationHelper.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
Labels: type: bug, PR: ready, in: core

#495 #494 Resolve asynchronous access to thread-locked Scanner object in CommandCLI
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/cli/SimpleCommandCLI.java
Labels: type: bug, PR: ready, in: commands

#501 #500 Remove `FileManager` and update fileroot usages
  examples/src/persistence/java/org/dockbox/hartshorn/demo/persistence/PersistenceDemoConfiguration.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ClassPathResourceLookupStrategy.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationServiceProcessor.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/FileSystemLookupStrategy.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ResourceLookupStrategy.java
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/annotations/Configuration.java
  hartshorn-config/src/test/java/org/dockbox/hartshorn/config/ConfigurationManagerTests.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationFSProvider.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationManager.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/Hartshorn.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFSProvider.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationManager.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornRunner.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/JUnitFSProvider.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/DefaultTranslationBundle.java
  hartshorn-i18n/src/main/java/org/dockbox/hartshorn/i18n/TranslationBundle.java
  hartshorn-i18n/src/test/java/org/dockbox/hartshorn/i18n/TranslationProviderService.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/DataStorageType.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/DefaultAbstractFileManager.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/DefaultObjectMapper.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/FileFormat.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/FileFormats.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/FileManager.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/PersistentCapable.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/annotations/Deserialise.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/annotations/File.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/annotations/Serialise.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/context/PersistenceAnnotationContext.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/context/SerialisationContext.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/exceptions/UnsupportedFileException.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/jackson/JacksonObjectMapper.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/mapping/ObjectMapper.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/AbstractPersistenceServiceModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/DeserialisationServiceModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/SerialisationServiceModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/table/Table.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/DataStructuresSerializersTests.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/mapping/ObjectMappingTests.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/service/AnnotationPathPersistenceService.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/service/PathPersistenceService.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/service/PersistenceService.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/service/SerialisationTests.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/RequestBody.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpDelete.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpGet.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpPost.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpPut.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpRequest.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/BodyRequestParameterRule.java
  hartshorn-web/src/test/java/org/dockbox/hartshorn/web/RequestArgumentProcessorTests.java
Labels: type: enhancement, PR: ready, PR status: breaking, in: persistence

#517 #516 Add `onExit` state observable
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/CommandParameterValidator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/LifecycleObserver.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventValidator.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/PersistentTypeService.java
Labels: PR: ready, type: feature request, in: core

#515 #512 Allow serving static content through `HttpWebServer`
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/ServerBootstrap.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyDirectoryServlet.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyHttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyResourceService.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/servlet/DirectoryServlet.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/servlet/HttpWebServletAdapter.java
Labels: PR: ready, type: feature request, in: web

#518 #514 Remove redundant inspection suppressions
  hartshorn-cache/src/main/java/org/dockbox/hartshorn/cache/modifiers/CachedMethodModifier.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/CommandParserImpl.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/SystemSubject.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/arguments/DefaultArgumentConverters.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/ArgumentConverterContext.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/context/CommandDefinitionContextImpl.java
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/ArgumentServiceProcessor.java
  hartshorn-commands/src/test/java/org/dockbox/hartshorn/commands/CommandDefinitionContextTests.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/GenericType.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/HartshornUtils.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/MultiMap.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/binding/NamedImpl.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/domain/Exceptional.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/KeyHolder.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/Keys.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/RemovableKey.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ExceptionalTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ReflectTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/ReflectTestType.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventBusImpl.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/properties/Remotes.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/registry/Registry.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/registry/RegistryColumn.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/registry/RegistryIdentifierImpl.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/table/Table.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/SqlServiceTest.java
  hartshorn-persistence/src/test/java/org/junit/rules/TestRule.java
  hartshorn-persistence/src/test/java/org/junit/runners/model/Statement.java
  hartshorn-tasks/src/main/java/org/dockbox/hartshorn/core/task/PipelineTask.java
  hartshorn-tasks/src/main/java/org/dockbox/hartshorn/core/task/pipeline/pipes/CancellablePipe.java
  hartshorn-tasks/src/main/java/org/dockbox/hartshorn/core/task/pipeline/pipes/ComplexPipe.java
  hartshorn-tasks/src/main/java/org/dockbox/hartshorn/core/task/pipeline/pipes/IPipe.java
  hartshorn-tasks/src/main/java/org/dockbox/hartshorn/core/task/pipeline/pipes/ListenerPipe.java
  hartshorn-tasks/src/main/java/org/dockbox/hartshorn/core/task/pipeline/pipes/OutputPipe.java
  hartshorn-tasks/src/main/java/org/dockbox/hartshorn/core/task/pipeline/pipes/StandardPipe.java
  hartshorn-tasks/src/test/java/org/dockbox/hartshorn/core/task/PipelineTests.java
  hartshorn-tasks/src/test/java/org/dockbox/hartshorn/core/task/TaskRunnerTests.java
Labels: type: enhancement, PR: ready

#511 #507 Final `Key` framework support removal
  examples/src/caching/java/org/dockbox/hartshorn/demo/caching/KeyUtility.java
  examples/src/caching/java/org/dockbox/hartshorn/demo/caching/domain/User.java
  examples/src/caching/java/org/dockbox/hartshorn/demo/caching/services/CachingService.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/Key.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/KeyHolder.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/Keys.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/PersistentDataHolder.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/PersistentDataKey.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/RemovableKey.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/StoredPersistentKey.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/TransactionResult.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/keys/TypedPersistentDataKey.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/keys/DynamicKeyTest.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/keys/TestKeyHolder.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/keys/TestKeys.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/keys/TestNonKeyHolder.java
Labels: type: enhancement, PR: ready, in: core

#523 #519 Return persisted entity when updating or saving through `JpaRepository`
  examples/src/persistence/java/org/dockbox/hartshorn/demo/persistence/services/UserRepository.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateJpaRepository.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/jpa/JpaRepository.java
Labels: type: enhancement, PR: ready, in: persistence

#524 #520 Validate `PersistenceConnection` before opening session in `HibernateJpaRepository`
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateJpaRepository.java
Labels: type: bug, PR: ready, in: persistence

#533 #531 Add `#equals` to `AnnotatedElementContext` to compare underlying reflected element directly for all contexts
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/AnnotatedElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
Labels: type: bug, PR: ready, in: core

#534 #532 Include inherited protected methods in `TypeContext#methods`, keep `#declaredMethods` for type-declared methods
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/MethodContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
Labels: type: bug, PR: ready, in: core

#536 #535 Use annotation type instead of instance class for annotation cache
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/AnnotatedElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
Labels: type: bug, PR: ready, in: core

#530 #529 QoL changes to `TypeContext` and associated contexts
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/AnnotatedElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ExecutableElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypedElementContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/domain/Named.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ElementContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/AbstractTypeWithTP.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/AnnotatedElement.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/ImplementationWithTP.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/InterfaceWithTP.java
Labels: PR: ready, type: feature request, in: core

#544 #538 Remove static cache in component locator in favor of global state
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/services/ComponentLocatorImpl.java
Labels: type: bug, PR: ready, in: core

#543 #541 Remove duplicate activator check for processed components
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
Labels: type: bug, PR: ready, in: core

#547 #540 Resolve duplicate field injection when field is annotated with both `@Inject` and `@Enable`
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/SingletonEnableable.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/TypeWithEnabledInjectField.java
Labels: type: bug, PR: ready, in: core

#545 #539 Migrate `Log4J` usage to `Logback`
  build.gradle
  hartshorn-core/hartshorn-core.gradle
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplication.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationManager.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/logback/LogbackEncoder.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/logback/LogbackPIDConverter.java
  hartshorn-core/src/main/resources/log4j2.xml
  hartshorn-core/src/main/resources/logback.xml
Labels: type: enhancement, PR: ready, in: core

#546 #537 Use correct activator for `HttpWebServerInitializer` and specify presence of MVC activator for MVC servlets
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServerInitializer.java
  hartshorn-web/src/test/java/org/dockbox/hartshorn/web/RestIntegrationTest.java
Labels: type: bug, PR: ready, in: web

#525 #522 Correctly pass exceptions when handling servlets
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/ApplicationException.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/ServletHandler.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyErrorHandler.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyHttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/servlet/HttpWebServletAdapter.java
Labels: type: bug, PR: ready, in: web

#549 #528 Change default flush mode to always be active for `@Query` methods
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/annotations/Query.java
Labels: type: enhancement, PR: ready, in: persistence

#550 #527 Add support for Hibernate proxies
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/service/CommandParameterValidator.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationProxier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationFactory.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationManager.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationProxier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/LifecycleObserver.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/TypeContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/JavaInterfaceProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/NativeProxyLookup.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyLookup.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyHandler.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyLookup.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyUtil.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/proxy/ProxyTests.java
  hartshorn-events/src/main/java/org/dockbox/hartshorn/events/EventValidator.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateProxyLookup.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateProxyLookupInitializer.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/service/PersistentTypeService.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServerInitializer.java
Labels: PR: ready, type: feature request, in: core, in: persistence

#552 #551 Resolve non-blocking command CLI in async mode
  hartshorn-commands/src/main/java/org/dockbox/hartshorn/commands/cli/SimpleCommandCLI.java
Labels: type: bug, PR: ready, in: commands

#548 #542 Defer instance proxies for non-components and resolve lost exceptions through type provisions
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/binding/ContextDrivenProvider.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/ApplicationProxier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationManager.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/HartshornApplicationProxier.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/logback/LogbackEncoder.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/boot/logback/LogbackPIDConverter.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/ApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornApplicationContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/HartshornContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/context/element/ConstructorContext.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/domain/Named.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/exceptions/BeanProvisionException.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/NativeProxyLookup.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/ProxyLookup.java
  hartshorn-core/src/main/java/org/dockbox/hartshorn/core/proxy/javassist/JavassistProxyLookup.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ApplicationContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/ElementContextTests.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/AbstractTypeWithTP.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/AnnotatedElement.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/ComponentType.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/ImplementationWithTP.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/InterfaceWithTP.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/NonComponentType.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/SingletonEnableable.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/TypeWithEnabledInjectField.java
  hartshorn-core/src/test/java/org/dockbox/hartshorn/core/types/TypeWithFailingConstructor.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateProxyLookup.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateProxyLookupInitializer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyServer.java
Labels: type: enhancement, PR: ready, in: core

#556 #555 Media type enhancements for HTTP request mappings
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/DefaultObjectMapper.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/jackson/JacksonObjectMapper.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/mapping/ObjectMapper.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/MediaType.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/ServletHandler.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpDelete.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpGet.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpPost.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpPut.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/annotations/http/HttpRequest.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/processing/rules/BodyRequestParameterRule.java
  hartshorn-web/src/test/java/org/dockbox/hartshorn/web/RequestArgumentProcessorTests.java
Labels: type: enhancement, PR: ready, in: web

#559 #557 Separate `Remotes` into dedicates `Remote` implementations
  examples/src/persistence/java/org/dockbox/hartshorn/demo/persistence/PersistenceDemoConfiguration.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateJpaRepository.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/hibernate/HibernateRemote.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/jackson/JacksonObjectMapper.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/jpa/JpaRepository.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/mapping/ObjectMapper.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/properties/Remotes.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/DerbyFileRemote.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/JdbcRemote.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/JdbcRemoteConfiguration.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/MariaDbRemote.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/MySQLRemote.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/PersistenceConnection.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/PersistenceModifier.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/PostgreSQLRemote.java
  hartshorn-persistence/src/main/java/org/dockbox/hartshorn/persistence/remote/Remote.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/QueryRepositoryTests.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/SqlServiceTest.java
  hartshorn-persistence/src/test/java/org/dockbox/hartshorn/persistence/mapping/PersistenceModifiersTests.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyHttpWebServer.java
Labels: type: enhancement, PR: ready, PR status: breaking, in: persistence

#568 #562 Avoid leaking resource lookup strategies across application states
  hartshorn-config/src/main/java/org/dockbox/hartshorn/config/ConfigurationServiceProcessor.java
Labels: type: bug, PR: ready, in: config

#567 #563 Remove unused and ambiguous type `JUnitInformation` from test suite
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/HartshornRunner.java
  hartshorn-core/src/testFixtures/java/org/dockbox/hartshorn/testsuite/JUnitInformation.java
Labels: type: enhancement, PR: ready, in: core

#571 #570 Configuration based remotes for `JpaRepository` instances
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateJpaRepository.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateRemote.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateRemoteImpl.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/remote/PersistenceConnection.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/SqlServiceTest.java
Labels: PR: ready, type: feature request, in: data

#573 #572 Microsoft SQL Server remote configuration for Data API
  gradle.properties
  hartshorn-data/hartshorn-data.gradle
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateJpaRepository.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/hibernate/HibernateRemoteImpl.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/jackson/JacksonObjectMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/mapping/JsonInclusionRule.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/mapping/ObjectMapper.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/remote/JdbcRemote.java
  hartshorn-data/src/main/java/org/dockbox/hartshorn/data/remote/SqlServerRemote.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/SqlServiceTest.java
  hartshorn-data/src/test/java/org/dockbox/hartshorn/data/mapping/PersistenceModifiersTests.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/HttpWebServer.java
  hartshorn-web/src/main/java/org/dockbox/hartshorn/web/jetty/JettyHttpWebServer.java
Labels: PR: ready, type: feature request, in: data
